@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/window/window.css);

sup {
    color: #0096c3;
    font-size: 14px;
}

hr {
    width: 334px;
    color:  #ececec;
}